.container {
    width: 80%;
    height: vmax;
    margin:auto;
    display: flex;
    align-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.side-grid {
    writing-mode: vertical-lr;
}
.rec {
    background-color: darkred;
    color: white;
}

.blank {
    background-color: white;
}

#rec-1 {
    width: 12%;
    height: 2%;
}

#rec-2 {
    width: 8%;
    height: 2%;
}

/* #rec-2:hover {
    width: 80%;
    height: 20%;
    background-color: aquamarine;
} */

#rec-3 {
    width: 22%;
    height: 2%;
}

#rec-4 {
    width: 12%;
    height: 8%;
}

#rec-5{
    width: 8%;
    height: 8%;
}

#rec-6 {
    width: 22%;
    height: 8vh;
}

#rec-7 {
    width: 12%;
    height: 6%;
}

#rec-8 {
    width: 8%;
    height: 6%;
}

#rec-9 {
    width: 22%;
    height: 6vh;
}

#rec-10 {
    width: 12%;
    height: 16%;
}

#rec-11 {
    width: 8%;
    height: 16%;
}

#rec-12 {
    width: 22%;
    height: 16vh;
}