body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: flexbox;
}

.top-level-left {
  display: flex;
  height: 100%;
  padding: 36px 36px 0px 36px;
}

.top-level-center {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 30%;
  padding: 0px 36px 0px 36px;
}
.main-grid-1 {
  display: flexbox;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.main-grid-2 {
  display: flexbox;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
}

.vertical-grid {
  display: flexbox;
  width: 4%;
}

.vertical-grid-2 {
  display: flexbox;
  width: 4%;
}

.vert-container {
  display: flex;
  flex-direction: row;
}

.main-grid-1 {
  display: flexbox;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main-grid-2 {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.section1-main {
  display: flexbox;
  width: 80%;
  height: 30vh;
  align-items: flex-end;

}

.section2-main {
  display: flexbox;
  width: 80%;
  height: 30vh;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  width: 100%;
  /* height: 100%; */
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
}

#vert-height-1 {
  height: auto;
}

#vert-height-4 {
  height: 80px;
}

#vert-rec-1 {
  width: 50%;
}



.rec {
  background-color: darkred;
}

.blank {
  background-color: white;
}

#grid-height-1 {
  /* --singe-cell-height: calc(30vh * 0.06);
  height: calc(1 * var(--single-cell-height); */
  height: calc(1 * 6%);
}

#grid-height-3 {
  height: calc(3 * 6%);
}

#grid-height-4 {
  height: calc(4 * 6%);
}

#grid-height-8 {
  height: calc(8 * 6%);
}

#rec-1 {
  width: 12%;
}

#rec-2 {
  width: 8%;
}

/* #rec-7:hover {
    width: 1000px;
    height: 100px;
    background-color: aquamarine;
} */

#rec-3 {
  width: 22%;
}

#rec-4 {
  width: 12%;
}

#rec-5 {
  width: 8%;
}

#rec-6 {
  width: 22%;
}

#rec-7 {
  width: 12%;
}

#rec-8 {
  width: 8%;
}

#rec-9 {
  width: 22%;
}

#rec-10 {
  width: 12%;
}

#rec-11 {
  width: 8%;
}

#rec-12 {
  width: 22%;
}
