.container {
    width: 90%;
    margin:auto;
    display: flex;
    align-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.rec {
    background-color: darkred;
    color: white;
}

.blank {
    background-color: white;
}

#rec-1 {
    width: 12%;
    height: 2%;
}

#rec-2{
    width: 8%;
    height: 2%;
}

#rec-3{
    width: 22%;
    height: 2%;
}
